<h1>Search all the Gifs!</h1>
      <input id="new-todo" placeholder="Much Gif...">
      <button id="submit_button">submit</button>
    </header>


<img src= <%= @image_source %> >

<ul id="test">
	
</ul>