<h1>Search all the Gifs!</h1>
      <input id="new-gif" placeholder="Much Gif...">
      <button class="submit_button">submit</button>
      <button class="clear_button">clear</button>
    </header>


<!-- <img src= <%= @image_source %> > -->





<ul id="test">
	
</ul>